body{
    margin: 0;
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree";
    height: 100vh;
    color: hsl(0, 0%, 7%);
}
main{
    width: 21rem;
    padding: 1.5rem;
    margin: 5rem auto;
    background-color: white;
    border-radius: 1rem;
    border: 2px solid hsl(0, 0%, 7%);
    box-shadow: 10px 10px hsl(0, 0%, 7%);

    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.image img{
    margin-bottom: 1rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.image h2{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 800;
    padding: 0.5rem 1rem;
    background-color: hsl(47, 88%, 63%);
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.image p{
    margin: 0;
    font-weight: 500;
}

.text h1{
    font-weight: 800;
}
.text p{
    color: hsl(0, 0%, 50%);
}








.attribution { 
    font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }